<html>
    <div class="fixed-top">
        <a id="active" routerLink="/home">Home</a>
        <a id="signUpLink" routerLink="/signUp">Sign Up</a>
        <a id="LogInLink" routerLink="/logIn"> Log in</a>
        <a id="vocabularyWords" routerLink="/vocabularyWords" > Vocabulary </a>
        <a id="logOutLink" href="/logIn" (click)="logout()">Log out</a>
        
        <p id="username">{{currentUser?.username}}</p>
        <!-- <img id="userIcon" src="assets\userIcon.svg" alt="userIcon"> -->
    </div>
</html>
