.fixed-top{
    position: static;
    background-color: #383838;
    overflow: hidden;
}

a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

a:hover {
    background-color: #f2f2f2;
    color: #383838;
}

#active {
    background-color: #04AA6D;
    color: white;
}

#username{
    float: right;
    margin-top: 0.3cm;
    margin-right: 2cm;
    
    color: white;
    font-size: larger;
}

#userIcon{
    float: right;
    margin-top: 0.25cm;
    margin-right: 1cm;
    width: 1cm;
}