<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Vocabulary</title>
  </head>
  <body>
    <div id="main-container">
      <h1>My Vocabulary - website that containts your words</h1> 
        <img id="bookImg" src="../../assets/download.jpg" alt="book">
      <div id="body">
        <b> Vocabulary is your smart solution for organizing your words. <br>
        It is an</b> awesome tool which can help you in language learning.  <br> 
        In this application you can easily save your words that you are trying<br>
         to learn and mark your fawourite, If you want to change  <br>
        your devise - no problem. My Vocabulary will show your words  <br>
        anywhere you want, just sign in. Anything you have to do to get   <br>
        this awesome tool is just register. Everything is <b>completly free</b>. 
      </div>
      <div id="buttonAndImage">
        <!-- <img id="buttonimg" src="../../../assets/bgimage-for-button.png" alt="paper piece"> -->
        <a id="registerButton"  routerLink="/signUp">Register</a>
      </div> 
    </div>

  </body> 
</html>
