<html>
    <div id="login">
        <div id="loginText">Log In</div>
         <br>
         <div id="emptyDiv">{{errorMessage}}</div>
        <form role="form" name="form" (submit)="f.form.valid && login()" #f="ngForm" novalidate>
            
                <input name="UserName" type="text" placeholder="Username" [(ngModel)]="username" #un="ngModel" 
                required autocomplete="new-password"> <br>
            
            
            <div class="alert alert-danger" *ngIf="f.submited && !un.valid"> 
                Username is required </div>

            <div class="input-group">
                
                <input name="Password" type="text" placeholder="Password" [(ngModel)]="password" #pw="ngModel" 
                    required autocomplete="new-password" [type]="fieldTextType ? 'text': 'password'">

                <div class="input-group-append">
                    <span class="input-group-text"> <i class="fa fa-eye-slash" [ngClass]="{'fa-eye-slash' : !fieldTextType, 'fa-eye' : fieldTextType }" (click)="ToggleFieldTextType()"></i></span>
                </div> 
            </div><br>

            <div class="alert alert-danger" *ngIf="f.submited && !un.valid"> 
               Password is required </div>
            <button name="Log In" type="submit"> Log in </button> <br>
        </form>
        
        <div id="signInLink">
            Does not have an accout?<br>
            <a id="SignIn" routerLink="/signUp">Sign In</a>
        </div>
    </div>
</html>